@page "/church"

<h3>Hebrew Roots Cowboy Church</h3>
<p>On line Friday night Shabbat for Hebrew Roots called <b>Blessed Buckaroo's</b> <i>Baruched Vaqero </i></p>
<p class="lead"> <span class="hebrew16">בָּרוּך</span>  <span class="hebrew16">בּוֹקֵר</span> </p>
@*<ul>
	<li><span class="hebrew16">בּוֹקֵר</span></li>
	<li><span class="hebrew22">בּוֹקֵר</span></li>
	<li><span class="hebrew22b">בּוֹקֵר</span></li>
</ul>*@
<h5>ToDo</h5>
@code {

}
