@page "/"
	<img src="images/jerusalem-painting-lmm-1200-400-parler.jpg" class="img-fluid rounded" />

	<h1>Hello</h1>
	<p>This website is a place holder for a podcast I want to do about the subject of creating and living in a <b>Torah Gated Community</b></p>

	<h3 class="mt-2"> <span class="badge badge-success">Biblical Permaculture</span></h3>
	<ul>
		<li><a href="https://livingmessiah.com/BiblicalPermaculture" target="_blank" class="ml-md-auto">Biblical Permaculture</a></li>
	</ul>


	<h3 class="mt-2"> <span class="badge badge-danger">Righteous Sovereign</span></h3>
	<ul>
		<li><a href="https://myhebrewbiblecore.azurewebsites.net/HomeMhbVer6/" target="_blank" class="ml-md-auto">Collection of good stuff</a></li>
	</ul>

	<h3 class="mt-2"> <span class="badge badge-warning">God's Economy</span></h3>
	<p class="">
		<blockquote class="blockquote">
			Neither give heed to fables and endless genealogies,  which minister questions, 
			rather than godly <b>edifying</b> <sup>&dagger;</sup> which is in faith: <i class="text-black-50">so do</i>.
			<footer class="blockquote-footer"><cite title="1st Timothy 1:4">1<sup>st</sup> Timothy 1:4</cite></footer>
		</blockquote>
	</p>
	<ul>
		<li>&dagger; <b>G3622</b> <i>oikonomia</i> etymology of <b>economy</b></li>
		<li>see <a href="https://www.myhebrewbible.com/article/153" target="_blank" class="ml-md-auto">Economy of God...dispensation, steward</a></li>
	</ul>

	<h3 class="mt-2"> <span class="badge badge-primary">Bible Resource</span></h3>
	<ul>
		<li><a href="https://www.myhebrewbible.com/" target="_blank" class="ml-md-auto">My Hebrew Bible</a></li>
		<li><a href="https://myhebrewbiblecore.azurewebsites.net/" target="_blank" class="ml-md-auto">My Hebrew Bible <sup>New Beta</sup></a></li>
	</ul>
