@inherits LayoutComponentBase

<div class="sidebar">
	<NavMenu />
</div>

<div class="main">
	<div class="top-row px-4">
		<AuthorizeView>
			<Authorized>
				Hello, @context.User.Identity.Name!
				<span class="oi oi-account-logout"></span><a href="/.auth/logout?post_logout_redirect_uri=/">Log out</a>
			</Authorized>
			<NotAuthorized>
				<span class="oi oi-account-login"></span><a href="/login-providers">Log in</a>
			</NotAuthorized>
		</AuthorizeView>
	</div>

	@*
		<div class="top-row px-4">
			<div style="font-size:small; text-align: right">
				<span>
					Hebrew date:
					<b>
						<script src="https://www.hebcal.com/etc/hdate-en.js" type="text/javascript"></script>
					</b>
					&nbsp;<abbr title="source www.hebcal.com">?</abbr> &nbsp;
				</span>
			</div>

		</div>

		See https://docs.microsoft.com/en-us/aspnet/core/blazor/call-javascript-from-dotnet?view=aspnetcore-3.1

	*@

	<div class="content px-4">
		@Body
	</div>
</div>
